<header-component title='Lista de Solicitudes'></header-component>

<ion-content padding class="legajos">
<!--div *ngFor="let process of processes">
	<ion-list-header>
		{{process.name}}
	</ion-list-header>
</div-->
<!--
work
<ion-list>
	<div *ngFor="let process of processes">
		<ion-list-header center>{{process.name}}</ion-list-header>
		<ion-item-group *ngFor="let instance of process.instances">
			<ion-item-divider light>{{instance.activitie}}</ion-item-divider>
			<ion-item>{{instance.description}}</ion-item>
		</ion-item-group>
	</div>
</ion-list>
-->

<ion-list>
	<div *ngFor="let process of processes">
		<ion-list-header center>{{process.name}}</ion-list-header>
		<ion-item-group *ngFor="let activity of process.activities">
			<ion-item-divider light>{{activity.name}}</ion-item-divider>
			<ion-item *ngFor="let instance of activity.instances" (click)="legajoTapped(instance)">{{instance.description}}</ion-item>
		</ion-item-group>
	</div>
</ion-list>

<!--ion-item-group>
	<ion-item-divider light>Activitie 1</ion-item-divider>
	<ion-item>Angola</ion-item>
	<ion-item>Argentina</ion-item>

	<ion-item-divider light>Activitie 2</ion-item-divider>
	<ion-item>Angola</ion-item>
	<ion-item>Argentina</ion-item>
</ion-item-group>

<ion-item-group>
	<ion-item-divider light>Activitie 3</ion-item-divider>
	<ion-item>Angola</ion-item>
	<ion-item>Argentina</ion-item>
</ion-item-group>


<ion-list>
	<ion-item></ion-item>
</ion-list-->

	<!--ion-list>
		<ion-list-header>
			Action
		</ion-list-header>
		<ion-item>
			<button ion-item (click)="legajoTapped(leg)" *ngFor="let leg of legajos">{{leg.description}} {{leg.id}}</button>
		</ion-item>
		<button ion-item (click)="legajoTapped(leg)" *ngFor="let leg of legajos">{{leg.description}} {{leg.id}}</button>
	</ion-list-->
</ion-content>